@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
{
  margin: 0;
  padding: 0;
}
body {
    box-sizing:border-box;
    background-color: #E5E5E5;
    color:#0A3871;
    font-family:"Inter", sans-serif;

}

.cabecalho {
    margin: 0.5%;
    padding-left: 2.5rem;
}
.criptografador {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.criptografadorinsira-texto {
    display: flex;
    flex-direction: column;
    padding-left: 15rem;
    padding-top: 12rem;
}

.criptografadortextodigite {
    font-size: 2rem;
    font-family: "Inter";
    font-weight: 400;

}

.criptografadortextodigite-campo {
    width: 42.5rem;
    height: 18rem;
    text-align: left;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1;
    vertical-align: top;
    padding-block: 0px;
    padding-inline: 0px;
    overflow:hidden;
    overflow-clip-margin: 18rem;

}

.criptografadorasterisco {
    padding-top: 0.9rem;
    display: flex;
}

.criptografadorinsira-textonota {
    padding-left: 0.3rem;
    font-size: 0.75rem;
}

.criptografador__espaco-botao {
    display: flex;
    justify-content: space-between;
    padding-top: 6.25rem;
}
.criptografadorbotao ,.descriptografadorbotao {
    background-color: #0A3871;
    color: white;
    width: 20.5rem;
    height: 4.18rem;
    border-radius: 1.5rem;
}

.criptografadorbotao:hover {
    background: black;
    width: 21rem;
    transition: all;
}

.descriptografadorbotao:hover {
    background: black;
    width: 21rem;
    transition: all;
}

.criptografadordescriptografador {
    display: flex;
    flex-direction: column;
    padding-right: 15.6rem;
    align-items: center;
    justify-content: space-between;
}

.criptografadordescriptografadorarea {
    width: 25rem;
    height: 37.5rem;
}

.criptografadordescriptografadocopiar {
    width: 20.5rem;
    height: 4.18rem;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
}

.criptografadordescriptografado__copiar:hover {
    background: black;
    width: 21rem;
    transition: all;
}
